<div class="container bg-white mt-4 pb-4" style="border-radius: 50px">
    <h3 class="text-info text-center pt-4">Employer Registration</h3>
    <form #formref="ngForm" (ngSubmit)="employerRegistration(formref)" style="background-color: rgb(47, 110, 226);margin:50px">
        <div class="form-group p-4">
        <label class="text-light" for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control" autocomplete="off" ngModel>
        </div>
        <div class="form-group p-4">
            <label class="text-light" for="company">Company</label>
            <input type="text" name="company" id="company" class="form-control" autocomplete="off" ngModel required #companyRef="ngModel">
            <div class="text-danger" *ngIf="companyRef.invalid && (companyRef.dirty || companyRef.touched)">
                <div *ngIf="companyRef.errors?.required"><h6>company is required</h6></div>
            </div>
        </div>
        <div class="form-group p-4">
            <label class="text-light" for="username">UserName</label>
            <input type="text" name="username" id="username" class="form-control" autocomplete="off" ngModel required #usernameRef="ngModel">
            <div class="text-danger" *ngIf="usernameRef.invalid && (usernameRef.dirty || usernameRef.touched)">
                <div *ngIf="usernameRef.errors?.required"><h6>user is required</h6></div>
            </div>
        </div>
        <div class="form-group p-4">
            <label class="text-light" for="password">Password</label>
            <!-- <show-hide-password size="sm" [btnOutline]="false">  -->
            <input type="password" name="password" id="password" class="form-control" ngModel required minlength="6" #pwRef="ngModel">
            <!-- </show-hide-password> -->
            <div class="text-danger" *ngIf="pwRef.invalid && (pwRef.dirty || pwRef.touched)">
                <div *ngIf="pwRef.errors?.required"><h6>username is required</h6></div>
                <div *ngIf="pwRef.errors?.minlength"><h6>minimum 6 char required</h6></div>
            </div>
        </div>
        <div class="form-group p-4">
            <label class="text-light" for="email">E-mail</label>
            <input type="email" name="email" id="email" class="form-control" autocomplete="off" ngModel>
        </div>
        <div class="form-group p-4">
            <label class="text-light" for="role">Designation</label>
            <input type="text" name="role" id="role" class="form-control" ngModel>
        </div>
        <div class="form-group p-4">
            <label class="text-light" for="photo">Upload photo</label>
            <input type="file" name="photo" id="photo" class="form-control" (change)="incomingfile($event)" accept="image/*" />
        </div>
        <button type="submit" class="btn btn-success d-block mx-auto" [disabled]=formref.invalid>Register</button>
        <div class="text-right m-4 text-white">
        <label>Already registered?</label>
        <button type="submit" class="btn btn-warning" (click)="click($event)">Login</button>
        </div>
    </form>  
</div>

